<style>
h1 {
	font-family: Gill Sans, sans-serif;
}
        body {
            
            margin: 0;
            padding: 0;
            background-color: #FFC0CB ;
            color: #FF 14 93;
        }

        header {
			font-family: 'Times New Roman', serif;
            background-color: #FFC0CB;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
	</style>